<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Challenge Accepted</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
      <ion-card-content>
        <ion-list>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <ion-item>
            <img src="assets/BrownSinfulIrrawaddydolphin-size_restricted.gif" />
          </ion-item>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/>
          
          <ion-button color="warning" expand="block" (click)="final()">Upload Recipe Image</ion-button>

        </ion-list>
      </ion-card-content>
  </ion-card>

</ion-content>
