<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Challenge Completed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-text color="primary">
              <h1 style="text-align: center;">Leaderboard Position: 4</h1>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="success">
              <h1 style="text-align: center;">Points Earned: 40</h1>
            </ion-text>
          </ion-item>
          <br/>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="assets/4cf338a419f58f76fd4734096c40fbd8.jpg" />
                <ion-text color="warning">
                  <h1>Recipe Image</h1>
                </ion-text>
              </ion-col>
              <ion-col>
                <img src="assets/4cf338a419f58f76fd4734096c40fbd8.jpg" />
                <ion-text color="warning">
                  <h1>My Image</h1>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-text color="success">
                  <h1>Recipe Match Score: 92%</h1>
                </ion-text>
            </ion-row>
          </ion-grid>
          <br/><br/>
          <ion-item>
            <img src="assets/popeye-sailor.gif" />
          </ion-item>
          <br/><br/><br/><br/><br/>
          <ion-item>
            
          </ion-item>
        </ion-list>
      </ion-card-content>
  </ion-card>
</ion-content>
