<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Recipe Set Go
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br/><br/><br/>
  <ion-text color="primary">
  <h1 style="text-align: center;">Tired of Leet Code?</h1>
  </ion-text>
  <ion-text color="success">
  <h2 style="text-align: center;">Try Leet Cook</h2>
  </ion-text>
  <ion-text color="warning">
  <h3 style="text-align: center;">Are you ready?</h3>
  </ion-text>
  <ion-text color="danger">
  <h4 style="text-align: center;">Recipe. Set. Go.</h4>
  </ion-text>
  <br/><br/><br/><br/><br/><br/>
  <ion-button expand="block" (click)="login()">Login With Facebook</ion-button>
</ion-content>
