<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Spinach Kulcha Challenge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <img src="assets/4cf338a419f58f76fd4734096c40fbd8.jpg" />
      <ion-card-header>
        <ion-card-title>Spinach Kulcha</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label><h1>Ingredients:</h1></ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Palak paste</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>1 cup Maida</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>1 tsp Oil</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>1/4 cup Boiled and mashed mutter</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>1tsp Green chilli - chopped</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>1 tsp Coriander leaves </ion-label>
          </ion-item>
        

        <ion-item>
            <ion-label><h1>Steps:</h1></ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Mix all ingredients of dough. Knead to semi soft dough. Keep aside for 2-3 hrs.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Now take dough. Knead again for 2-3 mins</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Take a portion of dough and roll it. Put little stuffing and bind it and roll again</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Cook on medium flame on both sides by applying ghee till crispy</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Serve and enjoy hot with green chutney/yogurt/pickle /papad</ion-label>
          </ion-item>
        </ion-list>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button color="warning" (click)="timer()">
            Start
          </ion-fab-button>
        </ion-fab>

      </ion-card-content>
    </ion-card>
</ion-content>
